{% extends 'frontend/includes/base.html' %}
{% block title %}Home - CitiVoice{% endblock %}
{% block dynamic_content  %}

{# Complaint detail page #}
<div class="container py-2">
  <h4 class="text-center mb-3">Complaints</h4>
  <div class="container px-5">
    <div class="row justify-content-center">
      <div class="">
        <div class="col-lg-13 card p-4">
          <!-- Meta info -->
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="meta-info">
              <span class="badge bg-dark text-light">{{ complaint.location.name }}</span>
              <span><i class="fa-regular fa-calendar"></i> {{ complaint.created_at|date:"M d, Y" }}</span>
              <span><i class="fa-regular fa-thumbs-up"></i> {{ complaint.vote_count|default:"0" }} Votes</span>
              <span><i class="fa-solid fa-circle-notch text-warning"></i> {{ complaint.get_status_display }}</span>
              <span><i class="fa-regular fa-clock"></i> Last Update: {{ complaint.updated_at|date:"M d, Y" }}</span>
            </div>
          </div>
          <!-- Title -->
          <h3 class="fw-bold mb-3">{{ complaint.title }}</h3>
          <!-- Description -->
          <p class="text-muted" style="line-height: 1.6;">
            {{ complaint.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}